@use './partials/header.scss';
@use './partials/titulo.scss';
@use './partials/index.scss';
@use './partials/footer';
@use './partials/formulario';

body{
    color: grey;
    text-align: center;
}

.descripcion{
    padding: 20px;
    background-color: #2C497F;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.fondo_gris{
    background-color: rgb(200, 196, 196);
    color: white;
}
.padding{
    padding: 40px 80px 40px 80px;
}

img{
    width: 700px;
    height: 350px;
    border-radius: 5px;
}

.pregunta{
    background-color: #BAD29F;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}   

.redes{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

main{
    min-height: 80vh;
}
.hogar{
    background-image: url(../images/hogar_2.jpg);
    border-radius: 6px;
    height: 450px;
    width: 550px;
}

.navbar-nav{
    text-align: center;
}

@media screen and (max-width: 576px) {
    .pregunta{
        margin: 10px;
    }
}
