#titulo{
    color: grey;
    text-align: center;
    font-family: 'Pacifico', cursive;
        h1{
            font-size: 50px;
            margin-top: 20px;
        }
            h2{
                font-size: 20px;
                font-style: italic;
                margin-top: 0px;
                color: #BAD29F;
                text-decoration: underline;
                letter-spacing: 1px;
            }
}

